@import url('https://fonts.googleapis.com/css?family=Amatic+SC:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
    scroll-behavior: smooth;
}
body
{
    /*overflow: hidden;*/
}

.ui.dimmer
{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: linear-gradient(to top, #00564d, #00897b);
    background-attachment: fixed;
}

.ui.dimmer .text_animation
{
    color: #fff;
    font-size: 5em;
    text-align: center;
    letter-spacing: 15px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box
{
    position: absolute;
    background: linear-gradient(to top, #00564d, #00897b);
    z-index: 1000;
    background-attachment: fixed;
}



/*****************************************************8*/

::-webkit-scrollbar
{
    width: 0;
}

.scroll_path
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.ui.progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #00564d, #00897b);
    animation: animate 5s linear infinite;
    z-index: 100;
}

.ui.progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00564d, #00897b);
    filter: blur(10px);
}

.ui.progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00564d, #00897b);
    filter: blur(10px);
}

/**************************************************/


.ui.navigation
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: 0.5s;

}

.ui.navigation.sticky
{
    background: #282828;
    padding: 10px 100px;
    box-shadow: 0 5px 10px #282828;
}

.ui.navigation.sticky .logo
{
    color: #00897B;
}

.ui.navigation .logo
{
    color: #00897B;
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 2px;
}

.ui.navigation ul
{
    font-size: 20px;
    display: flex;
}

.ui.navigation ul li
{

    list-style: none;
}

.ui.navigation ul li a
{
    display: inline-block;
    margin: 0 10px;
    color: #969696;
    text-decoration: none;
}

.ui.navigation ul li a:hover
{
    color: #ffffff;
    text-shadow: 0 0 10px #00897b,
    0 0 25px #00897b,
    0 0 50px #00897b,
    0 0 25px #00897b;
}


.ui.navigation ul li a.active
{
    color: #ffffff;
    text-shadow: 0 0 10px #00897b,
    0 0 25px #00897b,
    0 0 50px #00897b,
    0 0 25px #00897b;
}



@media screen and (max-width: 991px)
{

    .ui.banner
    {
        padding: 150px 50px 10px;
        flex-direction: column;
    }

    .ui.section-card .container
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .ui.section-card .container .card
    {
        width: 400px;
    }
}

@media (max-width: 768px)
{
    .ui.section-card .container
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .ui.section-card .container .card
    {
        width: 400px;
    }
    .ui.section-card .container .card .imgBx
    {
        position: relative;
    }
    .ui.section-card .container .card .content h3
    {
        margin-bottom: 5px;
        font-size: 0.1em;
    }

    .ui.section-card .container .card .imgBx,
    .ui.section-card .container .card:hover .imgBx
    {
        width: 100%;
        height: 200px;
        left: 0;
    }

    .ui.section-card .container .card .imgBx img,
    .ui.section-card .container .card:hover .imgBx img
    {
        max-width: 100px;
    }

    .ui.section-card .container .card .content
    {
        position: relative;
        width: 100%;
    }
}




/*************************************************/

.ui.banner.image
{
    padding: 100px;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.ui.banner
{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.ui.banner h2
{
    position: relative;
    font-size: 4em;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5em;


}
.ui.banner h2 span
{
    font-size: 2.5em;
    font-weight: 700;

}

.ui.banner h3
{
    position: relative;
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 500;
}

.banner .image_box
{
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.banner .image_box img
{
    position: absolute;
    bottom: 0;
    height: 90%;
}

.btn
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid #00564d;
    margin: 10px 0;
    text-transform: uppercase;
    color: #00897B;
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
}

.btn:hover{
    background: #00564d;
    color: #ffffff;
    box-shadow: 0 0 5px #00897b,
                0 0 25px #00897b,
                0 0 50px #00897b,
                0 0 25px #00897b;
}

/**************************************************/
.ui.section
{
    position: relative;
    min-height: 100vh;
}

.ui.section.dark
{
    padding-top: 50px;
    background: #282828;

}

.ui.section.light
{
    padding-top: 50px;
    background: #969696;
}

/************************************************/
.ui.section .card-up
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 90%;
    background: url(about.jpg);
    background-size: cover;
    display: flex;
}

.ui.section .card-up .content
{

    width: calc(70% - 50px);
    height: 100%;
    background: #00564d;
    box-sizing: border-box;
}
.ui.section .card-up .content h1
{
    font-size: 4em;
    margin-top: 24px;
    margin-left: 10%;
    color: white;
    text-align: center;
}

.ui.section .card-up .content p
{
    font-size: 1.7em;
    margin-left: 10%;
    color: #969696;
    text-align: center;
}

.ui.section .card-up .image_box
{
    width: calc(30% + 50px);
    height: 100%;
    box-sizing: border-box;
    border-left: 10vw solid #00564d;
    border-bottom: 70vh solid transparent;
}

/*************************************************/

.ui.section-card
{
    background-color: #282828;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.section-card .container
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px ;
}

.ui.section-card .container .card
{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.ui.section-card .container .card .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00564d;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.ui.section-card .container .card:hover .imgBx
{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    background: #00897b;
    transition: 0.5s ease-in-out;
}

.ui.section-card .container .card .imgBx:before
{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #00897b;
    z-index: -1;
}

.ui.section-card .container .card .imgBx img
{
    transition: 0.5s ease-in-out;
    max-width: 150px;
}

.ui.section-card .container .card:hover .imgBx img
{
    box-shadow: 0 0 5px #00897b,
    0 0 25px #00897b,
    0 0 50px #00897b,
    0 0 25px #00897b;
    max-width: 100px;
}

.ui.section-card .container .card .content
{
    position: absolute;
    right: 0;
    width: calc(100% - 25px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.section-card .container .card .content h3
{
    color: #00897b;
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 2em;
}

.ui.section-card .container .card .content ul
{
    list-style: none;
}

.ui.section-card .container .card .content ul li p
{
    color: #282828;
    font-weight: 800;
    font-size: 1.5em;
}


/**********************************************************************/

.ui.footer
{
    background-color: #00897b;
    color: #ffffff;
    text-align: center;
}
.ui.footer .art
{
    padding: 0;
    background-color: #00564d;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.ui.footer .art .footer-title
{
    font-size: 2.5em;
    font-weight: 900;
    margin: 10px 0;
}

.ui.footer .art .footer-contacts .footer-icon
{
    font-size: 1.5em;
    color: #969696;
    margin: 0 10px;
}

.ui.footer .art .footer-contacts .footer-icon:hover
{
    color: #ffffff;
}

.ui.footer .art p
{
    padding-top: 20px;
    padding-bottom: 10px;
}